{{ define "main" }}

<section class="section-sm pb-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="mb-4">Ciao Scrivimi</h2>
        <form action="#" method="POST" class="row">
          <div class="col-lg-6">
            <input type="text" class="form-control mb-4" id="name" name="name" placeholder="Il tuo nome">
          </div>
          <div class="col-lg-6">
            <input type="email" class="form-control mb-4" id="email" name="email" placeholder="La tua email">
          </div>
          <div class="col-12">
            <input type="text" class="form-control mb-4" id="subject" name="subject" placeholder="Argomento">
          </div>
          <div class="col-12">
            <textarea name="message" id="message" class="form-control mb-4" placeholder="Il tuo messaggio"></textarea>
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary">invia messaggio</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

{{ end }}